body {
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  text-align: center; }

h1 {
  font-family: lucida-handwriting, serif;
  font-size: 50px; }

h2 {
  font-family: fantasy, sans-serif;
  font-size: 30px;
  padding-top: 20px; }

.color-me {
  color: #f7cc54; }

.color-me:hover {
  color: #998442; }

img {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px; }

.my-modal-button {
  position: absolute;
  bottom: 0;
  left: 0; }

.btn-primary {
  color: black;
  background-color: #f7cc54;
  border-color: #f7cc54; }

.btn-primary:hover {
  background-color: #998442; }

.btn-gray {
  background-color: #D3D3D3; }

.btn-gray:hover {
  background-color: #808080; }
