body {
  // background: url(../images/bodega_beer.jpg) no-repeat center center fixed;
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  text-align: center;
  // background-size: cover;
}

h1 {
  font-family: lucida-handwriting, serif;
  font-size: 50px;
}

h2 {
  font-family: fantasy, sans-serif;
  font-size: 30px;
  padding-top: 20px;
}

color-me {
  color: #f7cc54;
}

img {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
